* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Sintony", Sans-Serif;
  font-size: 1.6rem;
  color: #444;
  font-weight: 300;
  line-height: 1.6; }

.containers {
  max-width: 136.6rem;
  margin: 0 auto;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  min-height: 100vh;
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-template-columns: [margin-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(6rem, 1fr) [margin-end]; }

.container {
  position: relative; }

body {
  font-family: "Sintony", Sans-Serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.7;
  color: #444; }

.heading-primary {
  font-family: "Source Sans Pro", Sans-Serif;
  color: #021e73;
  backface-visibility: hidden;
  line-height: 3rem;
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem; }

.heading-secondary {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  letter-spacing: 0.2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 6rem !important; }

.u-margin-top-huge {
  margin-top: 8rem !important; }

.form {
  width: 60%;
  margin: 7rem 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  padding: 5rem;
  border-radius: .5rem; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.2rem;
    font-family: inherit;
    color: inherit;
    width: 100%;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    transition: all .3s;
    display: block; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #f2cb05; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ccc; }
    .form__input::-webkit-input-placeholder {
      color: #222; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 300;
    color: #021e73;
    margin-left: 1rem;
    margin-bottom: .7rem;
    display: block;
    transition: all .3s; }

.btn-inline {
  text-decoration: none;
  border: none;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  color: #eee;
  font-size: inherit;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s; }
  .btn-inline:hover {
    color: #f2cb05; }
  .btn-inline:focus {
    outline: none; }

.btn-round, .btn-round:link, .btn-round:visited {
  background-color: #0424d9;
  color: #fff;
  text-decoration: none;
  padding: 1.2rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Source Sans Pro", Sans-Serif;
  border: none;
  cursor: pointer; }

.btn-text:link, .btn-text:visited {
  font-size: 1.4rem;
  color: #021e73;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #021e73;
  padding: 3px 10px;
  transition: all 0.2s; }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.nav {
  background-color: #0528f2;
  color: #fff;
  grid-column: margin-start / margin-end;
  display: flex;
  justify-content: space-between; }
  .nav .logo {
    height: 3.25rem;
    padding: 5px; }
  .nav__logged--out {
    align-self: end; }

.footer {
  grid-column: margin-start / margin-end;
  padding: 2rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: #0424d9;
  color: #fff;
  justify-items: center;
  align-items: center; }
  .footer__items {
    list-style-type: none;
    font-size: 1.6rem;
    padding: 3px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 2rem; }
  .footer__link:link, .footer__link:visited {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s; }
  .footer__link__link:hover, .footer__link__link:active {
    background-color: rgba(242, 226, 5, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.2rem;
  color: #ccc; }

.header {
  grid-column: margin-start / margin-end;
  height: 95vh;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(./img/hero-bg.png);
  background-size: cover;
  background-position: top;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .header__content {
    width: 50rem;
    padding: 5rem;
    line-height: 2rem;
    color: #444;
    justify-self: center;
    align-self: center; }

.search-box {
  grid-column: margin-start / margin-end;
  justify-self: center;
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 1fr); }

.match-job {
  grid-column: margin-start / margin-end;
  position: relative;
  padding: 10rem 15rem; }
  .match-job__boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    justify-items: stretch;
    column-gap: 1rem;
    row-gap: 1.5rem; }
  .match-job__box {
    display: flex;
    align-items: end;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    overflow: hidden;
    border: solid 1px #ccc;
    text-decoration: none;
    color: inherit; }
    .match-job__box--detail {
      padding: 3rem;
      width: 70%; }
    .match-job__box--wage {
      padding: 3rem;
      border-left: 1px solid #ccc; }
    .match-job__box--title-1 {
      font-size: 2.5rem; }
    .match-job__box--title-2 {
      font-size: 3rem; }
    .match-job__box--text {
      margin-bottom: 0; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.about-us {
  grid-column: margin-start / margin-end;
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  justify-items: center;
  align-items: center; }
  .about-us__logo {
    width: 30%;
    margin: 3rem 0; }
  .about-us__content {
    width: 80%; }

.login {
  grid-column: col-start 4 / col-end 8;
  justify-self: center;
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 1fr); }
