.form {
  width: 60%;
  margin: 7rem 0;
  // position: absolute;
  // top: 30%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  background-color: $color-grey-light-1;
  padding: 5rem;
  border-radius: .5rem;

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.2rem;
    font-family: inherit;
    color: inherit;
    width: 100%;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    border: none;
    box-shadow: $shadow-light;
    transition: all .3s;

    display: block;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-yellow-dark;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-grey-light-2;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 300;
    color: $color-blue-dark;
    margin-left: 1rem;
    margin-bottom: .7rem;
    display: block;
    transition: all .3s;
  }
}
